<% if @message.is_a?(String) %>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= content_tag :div, @message, :id => "flash_success" %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4" style="margin-left: 30%">
      <div class="form-get-data">
        <%= form_tag(vsbgs_admin_datas_path, method: :get) do %>
          <%= submit_tag 'GET VSBG', class: 'btn btn-primary btn-block vsbg'%>
        <% end %>

        <%= form_tag(bags_admin_datas_path, method: :get) do %>
          <%= submit_tag 'GET BAG', class: 'btn btn-danger btn-block  vsbg' %>
        <% end %>

         <%= form_tag(vbbas_admin_datas_path, method: :get) do %>
          <%= submit_tag 'GET BAG', class: 'btn btn-warning btn-block' %>
        <% end %>
      </div> 
    </div>
  </div>
 </div>
